{% load static %}


      <!--       footer -->
      <footer class="bg-white bg-black-footer">
         <div class="container">
            <div class="d-flex justify-content-between">
               <div class="footer-list">
                  <div class="footer-list-img-1 mofidon-footer">
                     
                  </div>
                  <div class="footer-list-img-2">
                     
                  </div>
               </div>
               <div class="footer-list">
                  
               </div>
               <div class="footer-list">
                  <h2>Mofidon</h2>
                  <ul class="list">
                     <li><a href="about.html">About Mofidon</a></li>
                     <li><a href="blogs.html">Mofidon guidnce</a></li>
                     <li><a href="help.html">Help & support</a></li>
                     <li><a href="contact.html">Contact us</a></li>
                  </ul>
               </div>
               <div class="footer-list">
                  <h2>Important links</h2>
                  <ul class="list">
                     <li><a href="faq.html">FAQs</a></li>
                     <li><a href="terms.html">Terms & conditions</a></li>
                     <li><a href="privacy.html">Privacy & Policy</a></li>
                     <li><a href="refund.html">Refund policy</a></li>
                  </ul>
               </div>
               <div class="footer-list">
                  <h2>Information</h2>
                  <ul class="list">
                     <li><a href="marketing.html">About Marketing</a></li>
                     <li><a href="sitemap.html">Site map</a></li>
                  </ul>
               </div>
            </div>
            <div class="copyright">
               <ul class="social">
                  <li>
                     <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                     <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                     <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li>
                     <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                  </li>
                  <li>
                     <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
               </ul>
               <p>Copyright - Mofidon 2021
               </p>
               <b class="copyright-p"> 20333 Mofid available |  <i class="fa fa-fw fa-users"></i>
               </b>
               <b style="margin-left: 15px;" class="copyright-p"> Services available | 300011 	&nbsp;<i class="fa fa-fw fa-handshake-o"></i>
               </b>
            </div>
         </div>
      </footer>
      <!--       footer-->