
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

  <head>
    {% include "../layout/head/head.html" %} {% block head %} 
    {% endblock %}
  </head>



{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="bg-white">
    <div class="container">
       <div class="row justify-content-center align-items-center d-flex vh-100">
          <div class="col-lg-4 mx-auto">
             <div class="osahan-login py-4">
                <div class="text-center mb-4">
                   <a href="index.html"><img src="{% static 'images/loggo.png' %}" alt=""></a>
                   <h5 class="font-weight-bold mt-3">You forget your password?</h5>
                   <p class="text-muted">Don't worry about it.</p>
                </div>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                   <!-- <div class="form-group">
                      <label class="mb-1">Enter your email</label>
                      <div class="position-relative icon-form-control">
                         <i class="mdi mdi-account position-absolute"></i>
                         <input type="email" class="form-control">
                      </div>
                   </div> -->
                   <button class="btn btn-primary btn-block text-uppercase" type="submit" >Send me a link </button>
                   <div class="py-3 d-flex align-item-center">
                      <a href="{% url 'account_login' %}">Go back to Login</a>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>