{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

  <head>
    {% include "../layout/head/head.html" %} {% block head %} 
    {% endblock %}
  </head>



{% block inner %}
    

          <!-- Login -->
          <div class="">
            <div class="container">
               <div class="row justify-content-center align-items-center d-flex p-5">
                  <div class="col-lg-12 "> 
                      <div class="alert alert-primary" role="alert">
                        <h1>{% block head_title %}{% translate "Verify Your Email Address" %}{% endblock %}</h1> 
                       <p>{% blocktranslate %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
                      </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Login -->
         
{% endblock %}

